@import "tailwindcss";

/* AQUÍ definimos tus Design Tokens de Moschino UI */
@theme {
  /* Definimos el color personalizado 'moschino' */
  --color-moschino-500: #3b82f6;

  /* Puedes añadir más variantes así: */
  --color-moschino-600: #2563eb;
}
